body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(45,245,85);
    background: linear-gradient(180deg, rgba(45,245,85,1) 9%, rgba(112,244,235,1) 55%, rgba(82,85,238,1) 80%);
height:100vh;
}



.results{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.result{
  
    display: flex;
    align-items: center;
    justify-content: center;
   height:80vh;
   width: 100%;
}
p{
    background: -webkit-linear-gradient(rgb(1, 14, 0), rgb(4, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#img1{
    object-fit:fill;
    width: 100%;
    height:100%;
    
}

button:active{
    transform: scale(0.98);
}
button:focus{
    outline: none;
}

